# Python Virtual Environments
venv/
.venv/

# Python Cache
__pycache__/
*.pyc
.pytest_cache/
.ipynb_checkpoints/

# Environment Variables
.env

# Uploads
backend/uploads/

# Trained Models
models/

# Frontend
node_modules/
dist/

# VS Code
.vscode/

# OS Files
.DS_Store
Thumbs.db